body{
margin:0px;
background-color:black;
color:white;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.main{  
padding-top:20px;
width:500px; 
height:auto;  
padding-bottom:20px; 

margin-left:auto; 
margin-right:auto; 

border-radius:50px;  
padding-left:28px; 

margin-top:100px; 

border-top:10px double #f1f1f1; 
border-bottom:10px double #f1f1f1; 
  
}


.textbutton{
margin-bottom:10px;
}

.check{
width:10px;
    
}

.header {
display: flex;
background-color: black;
height: 100px;
width: 100%;
}

.logo img{
padding-left: 50px;
height: 155px;
}

.header a{
text-decoration: none;
color: white;
font-size: 18pt;
font-weight: bolder;
display: row;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slideshow-box {
display: flex;
flex-direction: row;
padding-left: 5%;
padding-top : 2%;
width: 100%;
}

.slideshow-box .head {
width: 12%;
}

.play-now{
width: 50%;
text-align: right;
padding-left: 10%;
}

.header .slideshow-box .head:hover {
border-bottom: 3px solid red;
transition: 0.2s;
}

/* Drop down */
.dropdown-content {
display: none;
position: absolute;
background-color: white;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
margin-top: 33px;
  }

.dropdown-content a {
color: black;
padding: 20px 20px;
text-decoration: none;
display: block;
}
  
.dropdown-content a:hover {
background-color: black;
color: white;
}
  
.dropdown:hover .dropdown-content {display: block;}

.header .copyright{
color: white;
padding-top: 2.3%;
padding-left: 7%;
width: 1000%;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 10pt;
margin-top: 265px;
}

.icon{
display: flex;
flex-direction: row;
margin-left: 0%;
padding-top: 2.3%;
margin-top: 265px;
}

.icon img{
width: 60%;
}

.steam{
display: flex;
flex-direction: row;
padding-top: 2.3%;
margin-top: 265px;
}

.steam img{
width: 14%;
}

.btn{
font-size: 20px;
font-style: italic;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-left: 20px;
font: bold;
}  